
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_spaced">
            <h2 class="oe_slogan">HR Attendance Report XLS</h2>
        </div>
         <div class="oe_span12">
     <p class="oe_mt32 text-justify oe_spaced">
		The <strong>HR Attendance Report</strong> from <strong><a href="http://www.broadtech-innovations.com/">BroadTech IT Solutions</a></strong>  introduces an xls report of employee attendance details 
		based on the sign in and sign out actions of users in Odoo.
	 </p>
        <p>
			Menu : Attendances / Attendance Report xls
        </p>
        </div>
   	
	
		 <div class="oe_span4">
	 <p class="oe_mt32 text-justify">
User has the option to generate attendance details of all employees together or attendances of selected employees only.
The report can be generated  on Daily, Weekly, and Monthly basis.
 	</p>
		</div>
		
		<div class="oe_span8" >
	   		<div class="oe_bg_img">
	           <img class="oe_picture oe_screenshot" src="image8.png">
	        </div>
	  </div>
	  <div class="oe_span12 oe_spaced" >
		<p>
		Attendance of an  employee is marked as 'P' in the report,  if the employee is present on that particular date. 'A' indicate absence of the employee.  The report counts total Absence and Presence as well.
		<p>
		</div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
            <h3 class="oe_slogan">Daily Attendance</h3>
	 	<div class="oe_span12">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="image1.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
            <h3 class="oe_slogan">Weekly Attendance</h3>
	 	<div class="oe_span12">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
            <h3 class="oe_slogan">Monthly Attendance</h3>
	 	<div class="oe_span12">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="image10.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
            <h3 class="oe_slogan">Attendance Duration</h3>
	 	<div class="oe_span12">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="image9.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container ">
    <div class="oe_row oe_spaced">
    
    	 <div class="oe_span4">
        <p class="oe_mt32 text-justify">
Unchecking the "All Employees" field would bring a new field into the view, "Employee", where user can select one or more Employees and the report will list details of the selected employees only.	
	</p>
	</div>
           <div class="oe_span8">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="image5.png">
            </div>
        </div>
        
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
           <div class="oe_span8">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="image7.png">
            </div>
        </div>
        <div class="oe_span4">
        <p class="oe_mt32 text-justify">
The module blocks report generation with a warning if the user is not selecting any one of the "Print By" options. 
	</p>
	
	</div>
        <p class="oe_span12 oe_spaced">
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
    </div>
</section>


